<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete_arena</title>
    <link rel='stylesheet' href='/css/form.css'>
</head>

<body style="overflow: hidden;">
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
    <div style="height: 380px" class="form">
        <div class="title">Удалить манеж</div>
        <div class="subtitle">Выберите id</div>
        <div class="input-container ic2">
            <label for="param" class="placeholder"></label><select class="input" id=param>
            <option th:each="arena: ${arenas}"
                    th:text="${arena.id}">
            </option>
        </select><br/><br/>
        </div>
        <button type="button" class="submit" onclick="deleteArena()">Удалить</button>
        <button type="button" class="submit" onclick="location.href='/main/sportsfacility/arena'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>