<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>delete_sports_facility</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body style="overflow: hidden;">
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
  <div style="height: 380px" class="form">
    <div class="title">Удалить спортивную площадку</div>
    <div class="subtitle">Выберите id площадки</div>

    <div class="input-container ic2">
      <label for="sportsfacility" class="placeholder"></label><select class="input" id="sportsfacility">
      <option th:each="sportsfacility: ${sportsfacilitys}"
              th:text="${sportsfacility}">
      </option>
    </select><br/><br/>
    </div>
    <button type="button" class="submit" onclick="deleteFacility()">Удалить</button>
    <button type="button" class="submit" onclick="location.href='/main/sportsfacility'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>



