<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete_gym</title>
    <link rel='stylesheet' href='/css/form.css'>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
    <div style="height: 380px" class="form">
        <div class="title">Удалить тренажерный зал</div>
        <div class="subtitle">Выберите id</div>

        <div class="input-container ic2">
            <label for="param" class="placeholder"></label><select class="input" id="param">
            <option th:each="gym: ${gyms}"
                    th:text="${gym.id}">
            </option>
        </select><br/><br/>
        </div>
        <button type="button" class="submit" onclick="deleteGym()">Удалить</button>
        <button type="button" class="submit" onclick="location.href='/main/sportsfacility/gym'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>
