<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update_stadium</title>
    <link rel='stylesheet' href='/css/form.css'>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
    <div style="height: 410px" class="form">
        <div class="title">Изменить вместимость</div>
        <div class="subtitle">Выберите id стадиона</div>

        <div class="input-container ic2">
            <label for="id" class="placeholder"></label><select class="input" id="id">
            <option th:each="stadium: ${stadiums}"
                    th:text="${stadium.id}">
            </option>
        </select><br/><br/>
        </div>

        <div class="input-container ic1">
            <input id="param" class="input" type="text" placeholder=" " />
            <label for="param" class="placeholder">Ввведите вместимость</label>
        </div>
        <button type="button" class="submit" onclick="updateStadium()">Изменить</button>
        <button type="button" class="submit" onclick="location.href='/main/sportsfacility/stadium'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>
