<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update_arena</title>
    <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
    <div class="form">
        <div class="title">Добавить количество дорожек</div>
        <div class="subtitle">Введите число дорожек</div>

        <div class="input-container ic2">
            <label for="id" class="placeholder"></label><select class="input" id="id">
            <option th:each="arena: ${arenas}"
                    th:text="${arena.id}">
            </option>
        </select><br/><br/>
        </div>

        <div class="input-container ic1">
            <input id="param" class="input" type="text" placeholder=" " />
            <label for="param" class="placeholder">Количество дорожек</label>
        </div>
        <button type="button" class="submit" onclick="updateArena()">Изменить</button>
        <button type="button" class="submit" onclick="location.href='/main/sportsfacility/arena'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>
