<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_sports_facility_type</title>
    <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
    <div class="form">
        <div class="title">Добавить адрес площадки</div>
        <div class="subtitle">Введите адрес площадки</div>
        <div class="input-container ic1">
            <input id="address" class="input" type="text" placeholder=" " />
            <label for="address" class="placeholder">Ввведите адрес</label>
        </div>

        <div class="input-container ic2">
            <label for="type" class="placeholder"></label><select class="input" id="type">
            <option th:each="sportsfacilitytype: ${sportsfacilitytypes}"
                    th:text="${sportsfacilitytype.value}">
            </option>
        </select><br/><br/>
        </div>
<!--    <h1 class="grades-header" align="center">Добавить адрес площадки</h1>-->
<!--    <h1 th:text="${name}" id="auth-name"></h1>-->

<!--    <form class="grades-form" align="center">-->

<!--        <th>Адрес: </th>-->
<!--        <label for="address"></label>-->
<!--        <input type="text"-->
<!--               name="homework"-->
<!--               id="address"-->
<!--               size="40"-->
<!--               class="login-form-field"-->
<!--               placeholder="адрес">-->
<!--        <br/><br/>-->

<!--        <th>Площадка: </th>-->
<!--        <label for="type"></label><select class="selathlete" id="type">-->
<!--        <option th:each="sportsfacilitytype: ${sportsfacilitytypes}"-->
<!--                th:text="${sportsfacilitytype.value}">-->
<!--        </option>-->
<!--    </select><br/><br/>-->

        <button type="button" class="submit" onclick="addFacility()">Добавить</button>
        <button type="button" class="submit" onclick="location.href='/main/sportsfacility'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>


