<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_sports_facility</title>
    <link rel='stylesheet' href='/css/form.css'>
</head>

<body style="overflow: hidden;">
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
    <div style="height: 450px" class="form">
        <div class="title">Добавить адрес площадки</div>
        <div class="subtitle">Введите адрес площадки</div>
        <div class="input-container ic1">
            <input id="address" class="input" type="text" placeholder=" " />
            <label for="address" class="placeholder">Ввведите адрес</label>
        </div>

        <div class="input-container ic2">
            <label for="type" class="placeholder"></label><select class="input" id="type">
            <option th:each="sportsfacilitytype: ${sportsfacilitytypes}"
                    th:text="${sportsfacilitytype.value}">
            </option>
        </select><br/><br/>
        </div>
        <button type="button" class="submit" onclick="addFacility()">Добавить</button>
        <button type="button" class="submit" onclick="location.href='/main/sportsfacility'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>


