<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>delete_sponsor</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sponsor.js"></script>
  <div style="height: 360px" class="form">
    <div class="title">Удалить спонсора</div>
    <div class="subtitle">Выберите id из списка</div>

    <div class="input-container ic2">
      <label for="sponsor" class="placeholder"></label><select class="input" id="sponsor">
      <option th:each="sponsor: ${sponsors}"
              th:text="${sponsor}">
      </option>
    </select><br/><br/>
    </div>
    <button type="button" class="submit" onclick="deleteSponsor()">Удалить</button>
    <button type="button" class="submit" onclick="location.href='/main/sponsor'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
