<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>delete_sport_club</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body style="overflow: hidden;">
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sportclub.js"></script>
  <div style="height: 360px" class="form">
    <div class="title">Удалить cпортивный клуб</div>
    <div class="subtitle">Введите id спортивного клуба</div>

    <div class="input-container ic2">
      <label for="sport" class="placeholder"></label><select class="input" id="sport">
      <option th:each="sportclub: ${sportclubs}"
              th:text="${sportclub}">
      </option>
    </select><br/><br/>
    </div>
    <button type="button" class="submit" onclick="deleteSportClub()">Удалить</button>
    <button type="button" class="submit" onclick="location.href='/main/sportclub'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>