<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>delete_athlete</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/athlete.js"></script>
  <div style="height: 380px" class="form">
    <div class="title">Удалить атлета</div>
    <div class="subtitle">Выберите id атлета</div>

    <div class="input-container ic2">
      <label for="athlete" class="placeholder"></label><select class="input" id="athlete">
      <option th:each="athlete: ${athletes}"
              th:text="${athlete}">
      </option>
    </select><br/><br/>
    </div>
    <button type="button" class="submit" onclick="deleteAthlete()">Удалить</button>
    <button type="button" class="submit" onclick="location.href='/main/athlete'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
