<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>delete_sport</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sport.js"></script>
  <div style="height: 360px" class="form">
    <div class="title">Удалить вид спорта</div>
    <div class="subtitle">Выберите id</div>

    <div class="input-container ic2">
      <label for="sport" class="placeholder"></label><select class="input" id="sport">
      <option th:each="sport: ${sports}"
              th:text="${sport}">
      </option>
    </select><br/><br/>
    </div>
    <button type="button" class="submit" onclick="deleteSport()">Удалить</button>
    <button type="button" class="submit" onclick="location.href='/main/sport'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>