<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>delete_ranking</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body style="overflow: hidden;">
<main class="main-holder">
  <script type="text/javascript" src="/js/src/ranking.js"></script>
  <div style="height: 450px" class="form">
    <div class="title">Удалить информацию об атлете</div>
    <div class="subtitle">Выберите id атлета и спорта</div>
    <div class="input-container ic2">
      <label for="athlete" class="placeholder"></label><select class="input" id="athlete">
      <option th:each="athlete: ${athletes}"
              th:text="${athlete.id}">
      </option>
    </select><br/><br/>
    </div>
    <div class="input-container ic2">
      <label for="sport" class="placeholder"></label><select class="input" id="sport">
      <option th:each="sport: ${sports}"
              th:text="${sport.id}">
      </option>
    </select><br/><br/>
    </div>
    <button type="button" class="submit" onclick="deleteRanking()">Удалить</button>
    <button type="button" class="submit" onclick="location.href='/main/athleteranking'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
