<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>delete_court_surface</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body style="overflow: hidden;">
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
  <div style="height: 360px" class="form">
    <div class="title">Удалить тип покрытия</div>
    <div class="subtitle">Выберите id</div>
    <div class="input-container ic2">
      <label for="surface" class="placeholder"></label><select class="input" id="surface">
      <option th:each="surface: ${surfaces}"
              th:text="${surface}">
      </option>
    </select><br/><br/>
    </div>
    <button type="button" class="submit" onclick="deleteCourtSurface()">Удалить</button>
    <button type="button" class="submit" onclick="location.href='/main/courtsurface'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
