<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete_trainer</title>
    <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/trainer.js"></script>
    <div class="form">
        <div class="title">Удалить тренера</div>
        <div class="subtitle">Ввыберите id тренера</div>

        <div class="input-container ic2">
            <label for="trainer" class="placeholder"></label><select class="input" id="trainer">
            <option th:each="trainer: ${trainers}"
                    th:text="${trainer}">
            </option>
        </select><br/><br/>
        </div>
        <button type="button" class="submit" onclick="deleteTrainer()">Удалить</button>
        <button type="button" class="submit" onclick="location.href='/main/trainer'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>