<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete_trainer_license</title>
    <link rel='stylesheet' href='/css/form.css'>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/trainer.js"></script>
    <div style="height: 380px" class="form">
        <div class="title">Удалить лицензию тренера</div>
        <div class="subtitle">Выберите id лицензии</div>
        <div class="input-container ic2">
            <label for="trainerlicense" class="placeholder"></label><select class="input" id="trainerlicense">
            <option th:each="trainerlicense: ${trainerlicenses}"
                    th:text="${trainerlicense.id}">
            </option>
        </select><br/><br/>
        </div>
        <button type="button" class="submit" onclick="deleteTrainerLicense()">Удалить</button>
        <button type="button" class="submit" onclick="location.href='/main/trainerlicense'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>
