<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete_competition</title>
    <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/competition.js"></script>
    <div class="form">
        <div class="title">Удалить соревнования</div>
        <div class="subtitle">Выберите id соревнования</div>

        <div class="input-container ic2">
            <label for="competition" class="placeholder"></label><select class="input" id="competition">
            <option th:each="competition: ${competitions}"
                    th:text="${competition}">
            </option>
        </select><br/><br/>
        </div>

        <button type="button" class="submit" onclick="deleteCompetition()">Удалить</button>
        <button type="button" class="submit" onclick="location.href='/main/competition'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>
