<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add_sponsor</title>
  <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sponsor.js"></script>
  <div class="form">
    <div class="title">Добавить спонсора</div>
    <div class="subtitle">Выберите клуб из списка</div>
    <div class="input-container ic1">
      <input id="name" class="input" type="text" placeholder=" " />
      <label for="name" class="placeholder">Ввведите спонсора</label>
    </div>
    <div class="input-container ic2">
      <input id="company" class="input" type="text" placeholder=" " />
      <label for="company" class="placeholder">Введите название компании</label>
    </div>
    <button type="button" class="submit" onclick="addCompany()">Добавить</button>
    <button type="button" class="submit" onclick="location.href='/main/sponsor'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
