<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_ranking</title>
    <link rel='stylesheet' href='/css/form.css'>
</head>

<body style="overflow: hidden;">
<main class="main-holder">
    <script type="text/javascript" src="/js/src/ranking.js"></script>
    <div style="height: 510px" class="form">
        <div class="title">Добавить информацию об атлете</div>
        <div class="subtitle">Выберите id атлета, разряд и спорт</div>
        <div class="input-container ic2">
            <label for="id" class="placeholder"></label><select class="input" id="id">
            <option th:each="athlete: ${athletes}"
                    th:text="${athlete.id}">
            </option>
        </select><br/><br/>
        </div>

        <div class="input-container ic2">
            <label for="rank" class="placeholder"></label><select class="input" id="rank">
            <option th:each="athleterank: ${athleteranks}"
                    th:text="${athleterank.value}">
            </option>
        </select><br/><br/>
        </div>

        <div class="input-container ic2">
            <label for="sport" class="placeholder"></label><select class="input" id="sport">
            <option th:each="sport: ${sports}"
                    th:text="${sport.value}">
            </option>
        </select><br/><br/>
        </div>
        <button type="button" class="submit" onclick="addRanking()">Добавить</button>
        <button type="button" class="submit" onclick="location.href='/main/athleteranking'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>
