<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add_sport_club</title>
  <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sportclub.js"></script>
  <div class="form">
    <div class="title">Добавить cпортивный клуб</div>
    <div class="subtitle">Введите название спортивного клуба</div>
    <div class="input-container ic1">
      <input id="sport" class="input" type="text" placeholder=" " />
      <label for="sport" class="placeholder">Ввведите название</label>
    </div>
    <button type="button" class="submit" onclick="addSportClub()">Добавить</button>
    <button type="button" class="submit" onclick="location.href='/main/sportclub'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
