<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add_trainer</title>
  <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/trainer.js"></script>
  <div class="form">
    <div class="title">Добавить лицензию тренера</div>
    <div class="subtitle">Выберите id тренера и вид спорта</div>

    <div class="input-container ic2">
      <label for="trainer" class="placeholder"></label><select class="input" id="trainer">
      <option th:each="trainer: ${trainers}"
              th:text="${trainer.id}">
      </option>
    </select><br/><br/>
    </div>

    <div class="input-container ic2">
      <label for="sport" class="placeholder"></label><select class="input" id="sport">
      <option th:each="sport: ${sports}"
              th:text="${sport.value}">
      </option>
    </select><br/><br/>
    </div>
    <button type="button" class="submit" onclick="addTrainerLicense()">Добавить</button>
    <button type="button" class="submit" onclick="location.href='/main/trainerlicense'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
