<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add_training</title>
  <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/trainer.js"></script>
  <div class="form">
    <div class="title">Добавить информацию о тренировке</div>
    <div class="subtitle">Выберите id атлета и тренера</div>

    <div class="input-container ic2">
      <label for="athlete" class="placeholder"></label><select class="input" id="athlete">
      <option th:each="athlete: ${athletes}"
              th:text="${athlete.id}">
      </option>
    </select><br/><br/>
    </div>

    <div class="input-container ic2">
      <label for="trainer" class="placeholder"></label><select class="input" id="trainer">
      <option th:each="trainer: ${trainers}"
              th:text="${trainer.id}">
      </option>
    </select><br/><br/>
    </div>

<!--  <h1 class="grades-header" align="center">Добавить информацию о тренировке</h1>-->
<!--  <h1 th:text="${name}" id="auth-name"></h1>-->

<!--  <form class="grades-form" align="center">-->
<!--    <th>Выберите id атлета: </th>-->
<!--    <label for="athlete"></label><select class="selathlete" id=athlete>-->
<!--    <option th:each="athlete: ${athletes}"-->
<!--            th:text="${athlete.id}">-->
<!--    </option>-->
<!--  </select><br/><br/>-->

<!--    <th>Выберите id тренера: </th>-->
<!--    <label for="trainer"></label><select class="selathlete" id="trainer">-->
<!--    <option th:each="trainer: ${trainers}"-->
<!--            th:text="${trainer.id}">-->
<!--    </option>-->
<!--  </select><br/><br/>-->

    <button type="button" class="submit" onclick="addTraining()">Добавить</button>
    <button type="button" class="submit" onclick="location.href='/main/training'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
