<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->

<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>update_athlete</title>-->
<!--</head>-->

<!--<body>-->
<!--<main class="main-holder">-->
<!--  <script type="text/javascript" src="/js/src/athlete.js"></script>-->
<!--  <h1 class="grades-header" align="center">Изменить атлета</h1>-->
<!--  <h1 th:text="${name}" id="auth-name"></h1>-->

<!--  <form class="grades-form" align="center">-->
<!--    <th>Выберите id: </th>-->
<!--    <label for="id"></label><select class="selathlete" id="id">-->
<!--    <option th:each="athlete: ${athletes}"-->
<!--            th:text="${athlete.id}">-->
<!--    </option>-->
<!--  </select><br/><br/>-->

<!--    <th>Выберите клуб: </th>-->
<!--    <label for="club"></label><select class="selathlete" id="club">-->
<!--    <option th:each="sportclub: ${sportclubs}"-->
<!--            th:text="${sportclub.title}">-->
<!--    </option>-->
<!--  </select><br/><br/>-->

<!--    <th>Фамилия: </th>-->
<!--    <label for="last_name"></label>-->
<!--    <input type="text"-->
<!--           name="homework"-->
<!--           id="last_name"-->
<!--           size="40"-->
<!--           class="login-form-field"-->
<!--           placeholder="фамилия">-->
<!--    <br/><br/>-->

<!--    <th>Имя: </th>-->
<!--    <label for="first_name"></label>-->
<!--    <input type="text"-->
<!--           name="homework"-->
<!--           id="first_name"-->
<!--           size="40"-->
<!--           class="first-name-field"-->
<!--           placeholder="имя">-->
<!--    <br/><br/>-->

<!--    <th>Отчество: </th>-->
<!--    <label for="patronymic"></label>-->
<!--    <input type="text"-->
<!--           name="homework"-->
<!--           id="patronymic"-->
<!--           size="40"-->
<!--           class="first-name-field"-->
<!--           placeholder="отчество">-->
<!--    <br/><br/>-->

<!--    <button type="button" onclick="updateAthlete()">Изменить</button>-->
<!--    <button type="button" onclick="location.href='/main/athlete'">Отменить</button>-->
<!--  </form>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update_athlete</title>
  <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/athlete.js"></script>
  <div class="form">
    <div class="title">Изменить атлета</div>
    <div class="subtitle">Выберите id и клуб из списка</div>
    <div class="input-container ic2">
      <label for="id" class="placeholder"></label><select class="input" id="id">
      <option th:each="athlete: ${athletes}"
              th:text="${athlete.id}">
      </option>
    </select><br/><br/>
    </div>
    <div class="input-container ic2">
      <label for="club" class="placeholder"></label><select class="input" id="club">
      <option th:each="sportclub: ${sportclubs}"
              th:text="${sportclub.title}">
      </option>
    </select><br/><br/>
    </div>
    <div class="input-container ic1">
      <input id="first_name" class="input" type="text" placeholder=" " />
      <label for="first_name" class="placeholder">Ввведите имя</label>
    </div>
    <div class="input-container ic2">
      <input id="last_name" class="input" type="text" placeholder=" " />
      <label for="last_name" class="placeholder">Введите фамилию</label>
    </div>
    <div class="input-container ic2">
      <input id="patronymic" class="input" type="text" placeholder=" " />
      <label for="patronymic" class="placeholder">Введите отчество</label>
    </div>
    <button type="button" class="submit"  onclick="updateAthlete()">Изменить</button>
    <button type="button" class="submit"  onclick="location.href='/main/athlete'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
