<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update_court_surface</title>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
  <h1 class="grades-header" align="center">Изменить тип покрытия</h1>
  <h1 th:text="${name}" id="auth-name"></h1>

  <form class="grades-form" align="center">

    <th>Выберите id типа покрытия: </th>
    <label for="id"></label><select class="selathlete" id="id">
    <option th:each="courtsurface: ${courtsurfaces}"
            th:text="${courtsurface.id}">
    </option>
  </select><br><br>

    <th>Название типа покрытия: </th>
    <label for="surface"></label>
    <input type="text"
           name="homework"
           id="surface"
           size="40"
           class="login-form-field"
           placeholder="площадка">
    <br/><br/>

    <button type="button" onclick="updateCourtSurface()">Изменить</button>
    <button type="button" onclick="location.href='/main/courtsurface'">Отменить</button>
  </form>
</main>
</body>
</html>
