<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update_sponsor</title>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sponsor.js"></script>
    <h1 class="grades-header" align="center">Изменить спонсора</h1>
    <h1 th:text="${name}" id="auth-name"></h1>

    <form class="grades-form" align="center">
        <th>Выберите id: </th>
        <label for="id"></label><select class="selathlete" id="id">
        <option th:each="sponsor: ${sponsors}"
                th:text="${sponsor.id}">
        </option>
    </select><br/><br/>

        <th>Спонсор:</th>
        <label for="name"></label>
        <input type="text"
               name="homework"
               id="name"
               size="40"
               class="login-form-field"
               placeholder="спонсор">
        <br/><br/>

        <th>Название компании:</th>
        <label for="company"></label>
        <input type="text"
               name="homework"
               id="company"
               size="40"
               class="login-form-field"
               placeholder="компания">
        <br/><br/>

        <button type="button" onclick="updateCompany()">Изменить</button>
        <button type="button" onclick="location.href='/main/sponsor'">Отменить</button>
    </form>
</main>
</body>
</html>
