<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>athlete</title>
  <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <link rel="stylesheet" href=/css/table.css>
  <script type="text/javascript" src="/js/src/athlete.js"></script>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <a class="buttons" sec:authorize="hasAnyAuthority('ADMIN', 'ATHLETE', 'TRAINER')" onclick="location.href='/main/athlete'">Cброс</a>
  <a class="buttons" sec:authorize="hasAuthority('ADMIN')" onclick="location.href='/main/athlete/add'">Добавить</a>
  <a class="buttons" sec:authorize="hasAuthority('ADMIN')" onclick="location.href='/main/athlete/delete'">Удалить</a>
  <a class="buttons" sec:authorize="hasAuthority('ADMIN')" onclick="location.href='/main/athlete/update'">Изменить</a>

  <form sec:authorize="hasAnyAuthority('ADMIN', 'ATHLETE', 'TRAINER')" class="grades-form">
    <th><b>Получить список атлетов, которые занимаются более чем 1 видом спорта: </b></th>
    <button type="button" onclick="showMoreThanOne()">Применить</button>
  </form><br>

  <form sec:authorize="hasAnyAuthority('ADMIN')" class="grades-form">
    <th><b>Получить список атлетов, выигравших соревнования: </b></th>
    <th>Выберите id соревнований: </th>
    <label for="id"></label><select class="selathlete" id="id">
      <option th:each="competition: ${competitions}"
              th:text="${competition.id}">
      </option>
    </select>
    <button type="button" onclick="showById()">Применить</button>
  </form><br sec:authorize="hasAnyAuthority('ADMIN')">

  <form sec:authorize="hasAnyAuthority('ADMIN', 'ATHLETE', 'TRAINER')" class="grades-form">
    <th><b>Получить список атлетов определенного разряда и вида спорта: </b></th>
  <th>Выберите разряд: </th>
    <label for="rank1"></label><select class="selathlete" id="rank1">
    <option th:each="athleterank: ${athleteranks}"
            th:text="${athleterank.value}">
    </option>
  </select>

  <th>Выберите вид спорта: </th>
    <label for="sport"></label><select class="selathlete" id="sport">
    <option th:each="sport: ${sports}"
            th:text="${sport.value}">
    </option>
  </select>
  <button type="button" onclick="showByRankAndSport()">Применить</button>
  </form><br sec:authorize="hasAnyAuthority('ADMIN', 'ATHLETE', 'TRAINER')">

  <form sec:authorize="hasAnyAuthority('ADMIN')" class="grades-form">
    <th><b>Получить список атлетов определенного разряда и лицензии тренера: </b></th>
    <th>Выберите разряд: </th>
    <label for="rank2"></label><select class="selathlete" id="rank2">
      <option th:each="athleterank: ${athleteranks}"
              th:text="${athleterank.value}">
      </option>
    </select>

    <th>Выберите id лицензии тренера: </th>
    <label for="trainerlicenseid"></label><select class="selathlete" id="trainerlicenseid">
      <option th:each="trainerlicense: ${trainerlicenses}"
              th:text="${trainerlicense.id}">
      </option>
    </select>
    <button type="button" onclick="showByTrainerLicenseAndRank()">Применить</button>
  </form><br sec:authorize="hasAnyAuthority('ADMIN')">

  <form sec:authorize="hasAnyAuthority('ADMIN', 'ATHLETE', 'TRAINER')" class="grades-form">
    <th><b>Получить список атлетов, которые не участвовали в соревнованиях в определенный период: </b></th>
    <th>Введите дату начала: </th>
    <label for="start_date"></label><input type="date" name="day"
                                          id="start_date" size="60"
                                          class="login-form-field"
                                          placeholder="day of week">

    <th>Введите дату конца: </th>
    <label for="end_date"></label><input type="date" name="day"
                                          id="end_date" size="60"
                                          class="login-form-field"
                                          placeholder="day of week">
    <button type="button" onclick="showNotInCompetition()">Применить</button>
  </form><br sec:authorize="hasAnyAuthority('ADMIN', 'ATHLETE', 'TRAINER')">

  <table border="1" width="900">
    <tr>
      <th><p>№</p></th>
      <th><p>Фамилия</p></th>
      <th><p>Имя</p></th>
      <th><p>Отчество</p></th>
      <th><p>Hазвание клуба</p></th>
      <th sec:authorize="hasAuthority('ADMIN')"><p>Код</p></th>
      <th sec:authorize="hasAuthority('ADMIN')"><p>id</p></th>
    </tr>
    <tr th:each="athlete, iter : ${athletes}">
      <td th:text="${iter.index} + 1"></td>
      <td th:text="${athlete.lastName}"></td>
      <td th:text="${athlete.firstName}"></td>
      <td th:text="${athlete.patronymic}"></td>
      <td th:text="${athlete.club.title}"></td>
      <td sec:authorize="hasAuthority('ADMIN')" th:text="${athlete.code}"></td>
      <td sec:authorize="hasAuthority('ADMIN')" th:text="${athlete.id}"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
