<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>athleterank</title>
  <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <link rel="stylesheet" href=/css/table.css>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <table border="1" width="600">
    <tr>
      <th><p>№</p></th>
      <th><p>Разряд</p></th>
    </tr>
    <tr th:each="athleterank, iter : ${athleteranks}">
      <td th:text="${iter.index} + 1"></td>
      <td th:text="${athleterank.value}"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
