<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>competitionplayer</title>
    <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
    <link rel="stylesheet" href=/css/table.css>
    <link rel="stylesheet" href=/css/menu_buttons.css>
    <a class="buttons" onclick="location.href='/main'">Главное меню</a>
    <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/competitionplayer/add'">Добавить</a>
    <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/competitionplayer/delete'">Удалить</a>
    <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/competitionplayer/update'">Изменить</a>
    <table border="1" width="1200">
        <tr>
            <th><p>№</p></th>
            <th><p>Фамилия</p></th>
            <th><p>Имя</p></th>
            <th><p>Отчество</p></th>
            <th><p>Hазвание клуба</p></th>
            <th><p>Название соревнований</p></th>
            <th><p>Награждался</p></th>
            <th><p>Результат</p></th>
        </tr>
        <tr th:each="allcompetitionplayer, iter : ${allcompetitionplayers}">
            <td th:text="${iter.index} + 1"></td>
            <td th:text="${allcompetitionplayer.competitionKey.athlete.lastName}"></td>
            <td th:text="${allcompetitionplayer.competitionKey.athlete.firstName}"></td>
            <td th:text="${allcompetitionplayer.competitionKey.athlete.patronymic}"></td>
            <td th:text="${allcompetitionplayer.competitionKey.athlete.club.title}"></td>
            <td th:text="${allcompetitionplayer.competitionKey.competition.title}"></td>
            <td th:text="${allcompetitionplayer.wasAwarding}"></td>
            <td th:text="${allcompetitionplayer.result}"></td>
        </tr>
    </table> <br/>
</main>
</body>
</html>
