<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>courtsurface</title>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/table.css>
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <a class="buttons" onclick="location.href='/main/courtsurface/add'">Добавить</a>
  <a class="buttons" onclick="location.href='/main/courtsurface/delete'">Удалить</a>
  <table border="1" width="300">
    <colgroup>
      <col span="15" style="background:blue">
      <col style="background-color:blue">
    </colgroup>
    <tr>
      <th><p style="font-size: 20px;">№</p></th>
      <th><p style="font-size: 20px;">Тип покрытия</p></th>
      <th><p style="font-size: 20px;">id</p></th>
    </tr>
    </tr>
    <tr th:each="courtsurface, iter : ${courtsurfaces}">
      <td th:text="${iter.index} + 1" style="text-align:center"></td>
      <td th:text="${courtsurface.value}" style="text-align:center"></td>
      <td th:text="${courtsurface.id}" style="text-align:center"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
