<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>registration</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>
<body style="overflow: hidden;">
<div class="form">
  <script type="text/javascript" src="/js/src/registration.js"></script>
  <div class="title">Регистрация</div>
  <div class="subtitle">Создайте аккаунт</div>
  <div th:if="${param.error}">Логин занят</div>
  <div class="input-container ic1">
    <input id="firstName" class="input" type="text" placeholder=" " />
    <label for="firstName" class="placeholder">Ввведите имя (для "user" не обязательно)</label>
  </div>
  <div class="input-container ic2">
    <input id="lastName" class="input" type="text" placeholder=" " />
    <label for="lastName" class="placeholder">Введите фамилию (для "user" не обязательно)</label>
  </div>
  <div class="input-container ic2">
    <input id="patronymic" class="input" type="text" placeholder=" " />
    <label for="patronymic" class="placeholder">Введите отчество (для "user" не обязательно)</label>
  </div>
  <div class="input-container ic2">
    <input id="id" class="input" type="text" placeholder=" " />
    <label for="id" class="placeholder">Введите выданный id (для "user" не обязательно)</label>
  </div>
  <div class="input-container ic2">
    <input id="login" class="input" type="text" placeholder=" " />
    <label for="login" class="placeholder">Введите выданный логин (для "user" придумать)</label>
  </div>
  <div class="input-container ic2">
    <input id="password" class="input" type="text" placeholder=" " />
    <label for="password" class="placeholder">Придумайте пароль</label>
  </div>
  <div class="input-container ic2">
    <label for="user" class="placeholder"></label><select class="input" id="user">
    <option>user</option>
    <option>athlete</option>
    <option>trainer</option>
  </select><br/><br/>
  </div>
  <button type="button" class="submit" onclick="add()">Зарегистрироваться</button>
  <button type="button" class="submit" onclick="location.href='/login'">Уже есть аккаунт?</button>
</div>
</body>
</html>
