<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>sportsfacilitytype</title>
  <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/table.css>
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <table border="1" width="400">
    <tr>
      <th><p>№</p></th>
      <th><p>Спортивная площадка</p></th>
    </tr>
    <tr th:each="sportsfacilitytype, iter : ${sportsfacilitytypes}">
      <td th:text="${iter.index} + 1"></td>
      <td th:text="${sportsfacilitytype.value}"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
