<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>sport</title>
  <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/table.css>
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <a class="buttons"onclick="location.href='/main/sport/add'">Добавить</a>
  <a class="buttons"onclick="location.href='/main/sport/delete'">Удалить</a>
  <a class="buttons"onclick="location.href='/main/sport/update'">Изменить</a>
  <table border="1" width="600">
    <colgroup>
      <col span="15" style="background:blue">
      <col style="background-color:blue">
    </colgroup>
    <tr>
      <th><p style="font-size: 20px;">№</p></th>
      <th><p style="font-size: 20px;">Вид спорта</p></th>
      <th><p style="font-size: 20px;">id</p></th>
    </tr>
    <tr th:each="sport, iter : ${sports}">
      <td th:text="${iter.index} + 1" style="text-align:center"></td>
      <td th:text="${sport.value}" style="text-align:center"></td>
      <td th:text="${sport.id}" style="text-align:center"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
