<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>training</title>
  <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/table.css>
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <a class="buttons" sec:authorize="hasAuthority('ADMIN')" onclick="location.href='/main/training/add'">Добавить</a>
  <a class="buttons" sec:authorize="hasAuthority('ADMIN')" onclick="location.href='/main/training/delete'">Удалить</a>
  <table border="1" width="1300">
    <tr>
      <th rowspan="2">№</th>
      <th colspan="3">Атлет</th>
      <th rowspan="2">Клуб</th>
      <th colspan="3">Тренер</th>
      <th rowspan="2">Вид спорта</th>
      <th sec:authorize="hasAuthority('ADMIN')" rowspan="2"><p>id атлета</p></th>
      <th sec:authorize="hasAuthority('ADMIN')" rowspan="2"><p>id лицензии</p></th>
    </tr>
    <tr>
      <th><p>Фамилия</p></th>
      <th><p>Имя</p></th>
      <th><p>Отчество</p></th>
      <th><p>Фамилия</p></th>
      <th><p>Имя</p></th>
      <th><p>Отчество</p></th>
    </tr>
    <tr th:each="training, iter : ${trainings}">
      <td th:text="${iter.index} + 1"></td>
      <td th:text="${training.trainingKey.athlete.lastName}"></td>
      <td th:text="${training.trainingKey.athlete.firstName}"></td>
      <td th:text="${training.trainingKey.athlete.patronymic}"></td>
      <td th:text="${training.trainingKey.athlete.club.title}"></td>
      <td th:text="${training.trainingKey.trainerLicense.licenseKey.trainer.lastName}"></td>
      <td th:text="${training.trainingKey.trainerLicense.licenseKey.trainer.firstName}"></td>
      <td th:text="${training.trainingKey.trainerLicense.licenseKey.trainer.patronymic}"></td>
      <td th:text="${training.trainingKey.trainerLicense.licenseKey.sport.value}"></td>
      <td sec:authorize="hasAuthority('ADMIN')" th:text="${training.trainingKey.athlete.id}"></td>
      <td sec:authorize="hasAuthority('ADMIN')" th:text="${training.trainingKey.trainerLicense.id}"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
