<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>trainer</title>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/table.css>
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <script type="text/javascript" src="/js/src/trainer.js"></script>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <a class="buttons" onclick="location.href='/main/trainer'">Cброс</a>
  <a class="buttons" onclick="location.href='/main/trainer/add'">Добавить</a>
  <a class="buttons" onclick="location.href='/main/trainer/delete'">Удалить</a>
  <form class="grades-form">
    <th><b>Получить тренера по номеру атлета: </b></th>
    <th>Выберите номер атлета: </th>
    <select class="selathlete" id="id">
      <option th:each="athlete: ${athletes}"
              th:text="${athlete.id}">
      </option>
    </select>
    <button type="button" onclick="showById()">Применить</button>
  </form>
    <script>
      function showById() {
        var id = document.getElementById('id').value;

        location.href='/main/trainer/byathlete/' + id;
      }
    </script><br>

    <form class="grades-form">
      <th><b>Получить тренера по виду спорта: </b></th>
      <th>Выберите вид спорта: </th>
      <select class="selathlete" id="sport">
        <option th:each="sport: ${sports}"
                th:text="${sport.value}">
        </option>
      </select>
      <button type="button" onclick="showBySport()">Применить</button>
    </form><br>
  <table border="1" width="800">
    <colgroup>
      <col span="15" style="background:blue">
      <col style="background-color:blue">
    </colgroup>
    <tr>
      <th><p style="font-size: 20px;">№</p></th>
      <th><p style="font-size: 20px;">Фамилия</p></th>
      <th><p style="font-size: 20px;">Имя</p></th>
      <th><p style="font-size: 20px;">Отчество</p></th>
      <th><p style="font-size: 20px;">id</p></th>
    </tr>
    <tr th:each="trainer, iter : ${trainers}">
      <td th:text="${iter.index} + 1" style="text-align:center"></td>
      <td th:text="${trainer.lastName}" style="text-align:center"></td>
      <td th:text="${trainer.firstName}" style="text-align:center"></td>
      <td th:text="${trainer.patronymic}" style="text-align:center"></td>
      <td th:text="${trainer.id}" style="text-align:center"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
