<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>trainer</title>
  <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/table.css>
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <script type="text/javascript" src="/js/src/trainer.js"></script>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <a class="buttons" onclick="location.href='/main/trainer'">Cброс</a>
  <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/trainer/add'">Добавить</a>
  <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/trainer/delete'">Удалить</a>
  <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/trainer/update'">Изменить</a>
  <form class="grades-form">
    <th><b>Получить тренера по номеру атлета: </b></th>
    <th>Выберите номер атлета: </th>
    <select class="selathlete" id="id">
      <option th:each="athlete: ${athletes}"
              th:text="${athlete.id}">
      </option>
    </select>
    <button type="button" onclick="showByAthleteId()">Применить</button>
  </form><br>
    <form class="grades-form">
      <th><b>Получить тренера по виду спорта: </b></th>
      <th>Выберите вид спорта: </th>
      <select class="selathlete" id="sport">
        <option th:each="sport: ${sports}"
                th:text="${sport.value}">
        </option>
      </select>
      <button type="button" onclick="showBySport()">Применить</button>
    </form><br>
  <table border="1" width="800">
    <tr>
      <th><p>№</p></th>
      <th><p>Фамилия</p></th>
      <th><p>Имя</p></th>
      <th><p>Отчество</p></th>
      <th><p>id</p></th>
    </tr>
    <tr th:each="trainer, iter : ${trainers}">
      <td th:text="${iter.index} + 1"></td>
      <td th:text="${trainer.lastName}"></td>
      <td th:text="${trainer.firstName}"></td>
      <td th:text="${trainer.patronymic}"></td>
      <td th:text="${trainer.id}"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
