<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>trainerlicense</title>
  <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/table.css>
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <a class="buttons" sec:authorize="hasAuthority('ADMIN')" onclick="location.href='/main/trainerlicense/add'">Добавить</a>
  <a class="buttons" sec:authorize="hasAuthority('ADMIN')" onclick="location.href='/main/trainerlicense/delete'">Удалить</a>
  <table border="1" width="1000">
    <tr>
      <th><p>№</p></th>
      <th><p>Фамилия</p></th>
      <th><p>Имя</p></th>
      <th><p>Отчество</p></th>
      <th><p>Вид спорта</p></th>
      <th sec:authorize="hasAuthority('ADMIN')"><p>id лицензии</p></th>
      <th sec:authorize="hasAuthority('ADMIN')"><p>id тренера</p></th>
    </tr>
    <tr th:each="trainerlicense, iter : ${trainerlicenses}">
      <td th:text="${iter.index} + 1" style="text-align:center"></td>
      <td th:text="${trainerlicense.licenseKey.trainer.lastName}"></td>
      <td th:text="${trainerlicense.licenseKey.trainer.firstName}"></td>
      <td th:text="${trainerlicense.licenseKey.trainer.patronymic}"></td>
      <td th:text="${trainerlicense.licenseKey.sport.value}"></td>
      <td sec:authorize="hasAuthority('ADMIN')" th:text="${trainerlicense.id}"></td>
      <td sec:authorize="hasAuthority('ADMIN')" th:text="${trainerlicense.licenseKey.trainer.id}"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
