<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>delete_stadium</title>
  <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
  <div class="form">
    <div class="title">Удалить стадион</div>
    <div class="subtitle">Выберите id стадиона</div>

    <div class="input-container ic2">
      <label for="param" class="placeholder"></label><select class="input" id="param">
      <option th:each="stadium: ${stadiums}"
              th:text="${stadium.id}">
      </option>
    </select><br/><br/>
    </div>
    <button type="button" class="submit" onclick="deleteStadium()">Удалить</button>
    <button type="button" class="submit" onclick="location.href='/main/sportsfacility/stadium'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
