<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete_court</title>
    <link rel='stylesheet' href='/css/login.css'>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
    <div class="form">
        <div class="title">Удалить корд</div>
        <div class="subtitle">Выберите id из списка</div>

        <div class="input-container ic2">
            <label for="param" class="placeholder"></label><select class="input" id="param">
            <option th:each="court: ${courts}"
                    th:text="${court.id}">
            </option>
        </select><br/><br/>
        </div>

        <button type="button" class="submit" onclick="deleteCourt()">Удалить</button>
        <button type="button" class="submit" onclick="location.href='/main/sportsfacility/court'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>
