<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_sports_facility_type</title>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
    <h1 class="grades-header" align="center">Добавить адрес площадки</h1>
    <h1 th:text="${name}" id="auth-name"></h1>

    <form class="grades-form" align="center">

        <th>Адрес: </th>
        <label for="address"></label>
        <input type="text"
               name="homework"
               id="address"
               size="40"
               class="login-form-field"
               placeholder="адрес">
        <br/><br/>

        <th>Площадка: </th>
        <label for="type"></label><select class="selathlete" id="type">
        <option th:each="sportsfacilitytype: ${sportsfacilitytypes}"
                th:text="${sportsfacilitytype.value}">
        </option>
    </select><br/><br/>

        <button type="button" onclick="addFacility()">Добавить</button>
        <button type="button" onclick="location.href='/main/sportsfacility'">Отменить</button>
    </form>
</main>
</body>
</html>


