<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_court</title>
    <style>
        body{background-color:aqua;}
    </style>
</head>

<body>
<main class="main-holder">
    <h1 class="grades-header" align="center">Добавить поверхность</h1>
    <h1 th:text="${name}" id="auth-name"></h1>

    <form class="grades-form" align="center">

        <th>Поверхность: </th>
        <label for="param"></label>
        <input type="text"
               name="homework"
               id="param"
               size="40"
               class="login-form-field"
               placeholder="поверхность">
        <br/><br/>

        <button type="button" onclick="add()">Добавить</button>
    </form>
    <script>
        function add() {
            const req = new XMLHttpRequest();
            const param = document.getElementById('param').value;

            const params = new URLSearchParams({
                param: param,
            });

            req.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //some visual changes here
                }
            }

            req.open('POST', '/addsportsfacility/addcourt?' + params.toString());
            req.setRequestHeader("Content-Type", "application/json");
            req.send(params.toString());
        }
    </script>
</main>
</body>
</html>