<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add_sport</title>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sport.js"></script>
  <h1 class="grades-header" align="center">Добавить спорт</h1>
  <h1 th:text="${name}" id="auth-name"></h1>

  <form class="grades-form" align="center">

    <th>Вид спорта: </th>
    <label for="sport"></label>
    <input type="text"
           name="homework"
           id="sport"
           size="40"
           class="login-form-field"
           placeholder="спорт">
    <br/><br/>

    <button type="button" onclick="addSport()">Добавить</button>
    <button type="button" onclick="location.href='/main/sport'">Отменить</button>
  </form>
</main>
</body>
</html>