<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add_sponsor</title>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sponsor.js"></script>
  <h1 class="grades-header" align="center">Добавить спонсора</h1>
  <h1 th:text="${name}" id="auth-name"></h1>

  <form class="grades-form" align="center">

    <th>Спонсор:</th>
    <label for="name"></label>
    <input type="text"
           name="homework"
           id="name"
           size="40"
           class="login-form-field"
           placeholder="спонсор">
    <br/><br/>

    <th>Название компании:</th>
    <label for="company"></label>
    <input type="text"
           name="homework"
           id="company"
           size="40"
           class="login-form-field"
           placeholder="компания">
    <br/><br/>

    <button type="button" onclick="addCompany()">Добавить</button>
  </form>
</main>
</body>
</html>