<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_arena</title>
    <style>
        body{background-color:aqua;}
    </style>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
    <h1 class="grades-header" align="center">Добавить количество дорожек</h1>
    <h1 th:text="${name}" id="auth-name"></h1>

    <form class="grades-form" align="center">

        <th>Количество дорожек: </th>
        <label for="param"></label>
        <input type="text"
               name="homework"
               id="param"
               size="40"
               class="login-form-field"
               placeholder="количество">
        <br/><br/>

        <button type="button" onclick="addArena()">Добавить</button>
    </form>
</main>
</body>
</html>