<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add_sponsor</title>
  <style>
    body{background-color:aqua;}
  </style>
</head>

<body>
<main class="main-holder">
  <h1 class="grades-header" align="center">Добавить спонсора</h1>
  <h1 th:text="${name}" id="auth-name"></h1>

  <form class="grades-form" align="center">

    <th>Спонсор:</th>
    <label for="name"></label>
    <input type="text"
           name="homework"
           id="name"
           size="40"
           class="login-form-field"
           placeholder="спонсор">
    <br/><br/>

    <th>Название компании:</th>
    <label for="company"></label>
    <input type="text"
           name="homework"
           id="company"
           size="40"
           class="login-form-field"
           placeholder="компания">
    <br/><br/>

    <button type="button" onclick="addCompany()">Добавить</button>
  </form>
  <script>
    function addCompany() {
      const req = new XMLHttpRequest();
      const name = document.getElementById('name').value;
      const company = document.getElementById('company').value;

      const params = new URLSearchParams({
        name: name, company: company,
      });

      req.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          //some visual changes here
        }
      }

      req.open('POST', '/addsponsor?' + params.toString());
      req.setRequestHeader("Content-Type", "application/json");
      req.send(params.toString());
    }
  </script>
</main>
</body>
</html>