<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_athlete</title>
</head>

<body>
<main class="main-holder">
    <script type="text/javascript" src="/js/src/ranking.js"></script>
    <h1 class="grades-header" align="center">Добавить информацию об атлете</h1>
    <h1 th:text="${name}" id="auth-name"></h1>

    <form class="grades-form" align="center">

        <th>Разряд: </th>
        <label for="rank"></label><select class="selathlete" id="rank">
        <option th:each="athleterank: ${athleteranks}"
                th:text="${athleterank.value}">
        </option>
    </select><br/><br/>

        <th>Вид спорта: </th>
        <label for="sport"></label><select class="selathlete" id="sport">
        <option th:each="sport: ${sports}"
                th:text="${sport.value}">
        </option>
    </select><br/><br/>

        <button type="button" onclick="addRanking()">Добавить</button>
    </form>
</main>
</body>
</html>