<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add_sports_facility_type</title>
  <style>
    body{background-color:aqua;}
  </style>
</head>

<body>
<main class="main-holder">
  <h1 class="grades-header" align="center">Добавить площадку</h1>
  <h1 th:text="${name}" id="auth-name"></h1>

  <form class="grades-form" align="center">

    <th>Название площадки: </th>
    <label for="sport_facility_type"></label>
    <input type="text"
           name="homework"
           id="sport_facility_type"
           size="40"
           class="login-form-field"
           placeholder="площадка">
    <br/><br/>

    <button type="button" onclick="addFacility()">Добавить</button>
  </form>
  <script>
    function addFacility() {
      const req = new XMLHttpRequest();
      const sport_facility_type = document.getElementById('sport_facility_type').value;

      const params = new URLSearchParams({
        sport_facility_type : sport_facility_type,
      });

      req.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          //some visual changes here
        }
      }

      req.open('POST', '/addsportsfacilitytype?' + params.toString());
      req.setRequestHeader("Content-Type", "application/json");
      req.send(params.toString());
    }
  </script>
</main>
</body>
</html>