<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add_trainer</title>
  <style>
    body{background-color:aqua;}
  </style>
</head>

<body>
<main class="main-holder">
  <h1 class="grades-header" align="center">Добавить тренера</h1>
  <h1 th:text="${name}" id="auth-name"></h1>

  <form class="grades-form" align="center">

    <th>Фамилия: </th>
    <label for="last_name"></label>
    <input type="text"
           name="homework"
           id="last_name"
           size="40"
           class="login-form-field"
           placeholder="фамилия">
    <br/><br/>

    <th>Имя: </th>
    <label for="first_name"></label>
    <input type="text"
           name="homework"
           id="first_name"
           size="40"
           class="first-name-field"
           placeholder="имя">
    <br/><br/>

    <th>Отчество: </th>
    <label for="patronymic"></label>
    <input type="text"
           name="homework"
           id="patronymic"
           size="40"
           class="first-name-field"
           placeholder="отчество">
    <br/><br/>

    <button type="button" onclick="addTrainer()">Добавить</button>
  </form>
  <script>
    function addTrainer() {
      const req = new XMLHttpRequest();

      const fistName = document.getElementById('first_name').value;
      const lastName = document.getElementById('last_name').value;
      const patronymic = document.getElementById('patronymic').value;


      const params = new URLSearchParams({
        firstName: fistName,
        patronymic: patronymic,
        lastName: lastName,
      });

      req.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          //some visual changes here
        }
      }

      req.open('POST', '/addtrainer?' + params.toString());
      req.setRequestHeader("Content-Type", "application/json");
      req.send(params.toString());
    }
  </script>
</main>
</body>
</html>