<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>athleterank</title>
</head>

<body>
<main id="main-holder">
  <table border="1" width="600">
    <colgroup>
      <col span="5" style="background:blue">
      <col style="background-color:darkcyan">
      <style>
        table { margin:0 auto; }
        body{background-color:aqua;}
      </style>
    </colgroup>
    <tr>
      <th><p style="font-size: 20px;">№</p></th>
      <th><p style="font-size: 20px;">Разряд</p></th>
    </tr>
    <tr th:each="athleterank, iter : ${athleteranks}">
      <td th:text="${iter.index} + 1" style="text-align:center"></td>
      <td th:text="${athleterank.value}" style="text-align:center"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
