<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>competition</title>
</head>

<body>
<main id="main-holder">
  <form class="grades-form">
    <th><b>Получить список соревнований за период с определенным спонсором:</b></th>
    <th>Выберите номер спонсора: </th>
    <select class="selathlete" id="id">
      <option>all</option>
      <option th:each="sponsor: ${sponsors}"
              th:text="${sponsor.id}">
      </option>
    </select>
    <label for="start_date"></label><input type="date" name="day"
                                           id="start_date" size="60"
                                           class="login-form-field"
                                           placeholder="day of week">

    <th>Введите дату конца: </th>
    <label for="end_date"></label><input type="date" name="day"
                                         id="end_date" size="60"
                                         class="login-form-field"
                                         placeholder="day of week">
    <button type="button" onclick="showByDateAndSponsor()">Применить</button>
  </form><br>

  <script>
    function showByDateAndSponsor() {
      var id = document.getElementById('id').value;
      if (id === 'all') {
        id = '';
      }
      var start_date = document.getElementById('start_date').value;
      var end_date = document.getElementById('end_date').value;

      location.href='/main/competition/byperiod/' + start_date + '/' + end_date + '/' + id;
    }
  </script>

  <th><b>Получить список соревнований на определенном объекте по конкретному виду спорта:</b></th>
  <th>Выберите номер объекта: </th>
  <select class="selathlete" id="facilityid">
    <option th:each="allcompetition: ${allcompetitions}"
            th:text="${allcompetition.sportsFacility.id}">
    </option>
  </select>

  <th>Выберите вид спорта: </th>
  <select class="selathlete" id="sport">
    <option>all</option>
    <option th:each="sport: ${sports}"
            th:text="${sport.value}">
    </option>
  </select>

  <button type="button" onclick="showByFacilityAndSport()">Применить</button>
  </form><br><br>

  <script>
    function showByFacilityAndSport() {
      var id = document.getElementById('facilityid').value;
      var sport = document.getElementById('sport').value;
      if (sport === 'all') {
        sport = '';
      }
      location.href='/main/competition/byfacility/' + id + '/' + sport;
    }
  </script>

  <button type="button" onclick="location.href='/main/competition'">Cброс</button><br>

  <table border="0" width="1400">
    <colgroup>
      <col span="19" style="background:blue">
      <col style="background-color:blue">
      <style>
        table { margin:0 auto; }
        body{background-color:aqua;}
      </style>
    </colgroup>
    <tr>
      <th><p style="font-size: 20px;">№</p></th>
      <th><p style="font-size: 20px;">Название соревнований</p></th>
      <th><p style="font-size: 20px;">Период</p></th>
      <th><p style="font-size: 20px;">Спонсор(имя)</p></th>
      <th><p style="font-size: 20px;">Спонсор(название компании)</p></th>
      <th><p style="font-size: 20px;">Вид спорта</p></th>
      <th><p style="font-size: 20px;">Спортивный комплекс</p></th>
      <th><p style="font-size: 20px;">Адрес</p></th>
    </tr>
    <tr th:each="competition, iter : ${competitions}">
      <td th:text="${iter.index} + 1" style="text-align:center"></td>
      <td th:text="${competition.title}" style="text-align:center"></td>
      <td th:text="${competition.period}" style="text-align:center"></td>
      <td th:text="${competition.sponsor.name}" style="text-align:center"></td>
      <td th:text="${competition.sponsor.company}" style="text-align:center"></td>
      <td th:text="${competition.sport.value}" style="text-align:center"></td>
      <td th:text="${competition.sportsFacility.type.value}" style="text-align:center"></td>
      <td th:text="${competition.sportsFacility.address}" style="text-align:center"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>