<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>main</title>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/menu.css>
  <colgroup>
    <style>
      body{background-color: aqua;}
    </style>
  </colgroup>
  <a class="buttons" th:href="@{/main/athlete}"><th>Cписок атлетов</th></a>
  <a class="buttons" th:href="@{/main/athleterank}"><th>Список разрядов атлетов</th></a>
  <a class="buttons" th:href="@{/main/athleteranking}"><th>Информация об атлетах</th></a>
  <a class="buttons" th:href="@{/main/competition}"><th>Информация о cоревнованиях</th></a>
  <a class="buttons" th:href="@{/main/competitionplayer}"><th>Информация об учасниках cоревнований</th></a>
  <a class="buttons" th:href="@{/main/courtsurface}"><th>Список спортивных площадок</th></a>
  <a class="buttons" th:href="@{/main/sponsor}"><th>Информация о спонсорах</th></a>
  <a class="buttons" th:href="@{/main/sport}"><th>Список видов спорта</th></a>
  <a class="buttons" th:href="@{/main/sportclub}"><th>Список спортивных клубов</th></a>
  <a class="buttons" th:href="@{/main/sportsfacility}"><th>Информация о спортивных площадках</th></a>
  <a class="buttons" th:href="@{/main/sportsfacilitytype}"><th>Cписок типов покрытия</th></a>
  <a class="buttons" th:href="@{/main/trainer}"><th>Информация о тренерах</th></a>
  <a class="buttons" th:href="@{/main/trainerlicense}"><th>Список лицензий по тренерам</th></a>
  <a class="buttons" th:href="@{/main/training}"><th>Информация о тренировках</th></a>
</main>
</body>
</html>