<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>sponsor</title>
</head>

<body>
<main id="main-holder">
  <form class="grades-form">
    <th><b>Получить спонсоров за период: </b></th>
    <th>Введите дату начала: </th>
    <label for="start_date"></label><input type="date" name="day"
                                           id="start_date" size="60"
                                           class="login-form-field"
                                           placeholder="day of week">
    <th>Введите дату конца: </th>
    <label for="end_date"></label><input type="date" name="day"
                                         id="end_date" size="60"
                                         class="login-form-field"
                                         placeholder="day of week">
    <button type="button" onclick="showSponsorByPeriod()">Применить</button>
  </form><br>

  <script>
    function showSponsorByPeriod() {
      const start_date = document.getElementById('start_date').value;
      const end_date = document.getElementById('end_date').value;

      location.href='/main/sponsor/byperiod/' + start_date + '/' + end_date;
    }
  </script>

  <table border="0" width="600">
    <colgroup>
      <col span="15" style="background:blue">
      <col style="background-color:blue">
      <style>
        table { margin:0 auto; }
        body{background-color:aqua;}
      </style>
    </colgroup>
    <tr>
      <th><p style="font-size: 20px;">№</p></th>
      <th><p style="font-size: 20px;">ФИО</p></th>
      <th><p style="font-size: 20px;">Название компании</p></th>
    </tr>
    <tr th:each="allsponsor, iter : ${allsponsors}">
      <td th:text="${iter.index} + 1" style="text-align:center"></td>
      <td th:text="${allsponsor.name}" style="text-align:center"></td>
      <td th:text="${allsponsor.company}" style="text-align:center"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
