<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>court</title>
    <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
    <link rel="stylesheet" href=/css/table.css>
    <link rel="stylesheet" href=/css/menu_buttons.css>
    <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
    <a class="buttons" onclick="location.href='/main'">Главное меню</a>
    <a class="buttons" onclick="location.href='/main/sportsfacility'">Другие объекты</a>
    <a class="buttons" onclick="location.href='/main/sportsfacility/court'">Cброс</a>
    <a class="buttons" onclick="location.href='/main/sportsfacility/delete/delete_court'">Удалить</a>
    <a class="buttons" onclick="location.href='/main/sportsfacility/update/update_court'">Изменить</a>
    <form class="grades-form">
        <th><b>Получить корд по покрытию: </b></th>
        <th>Выберите покрытие: </th>
        <label for="surface"></label><select class="selathlete" id="surface">
        <option th:each="allcourt: ${allcourts}"
                th:text="${allcourt.surface.value}">
        </option>
    </select>
        <button type="button" onclick="showBySurface()">Применить</button>
    </form><br>

    <table border="1" width="600">
        <colgroup>
            <col span="15" style="background:blue">
            <col style="background-color:blue">
        </colgroup>
        <tr>
            <th><p style="font-size: 20px;">№</p></th>
            <th><p style="font-size: 20px;">Тип покрытия</p></th>
            <th><p style="font-size: 20px;">Адрес</p></th>
            <th><p style="font-size: 20px;">Тип покрытия</p></th>
            <th><p style="font-size: 20px;">id</p></th>
        </tr>
        <tr th:each="court, iter : ${courts}">
            <td th:text="${iter.index} + 1" style="text-align:center"></td>
            <td th:text="${court.surface.value}" style="text-align:center"></td>
            <td th:text="${court.sportsFacility.address}" style="text-align:center"></td>
            <td th:text="${court.sportsFacility.type.value}" style="text-align:center"></td>
            <td th:text="${court.id}" style="text-align:center"></td>
        </tr>
    </table> <br/>
</main>
</body>
</html>
