<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>gym</title>
  <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/table.css>
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <a class="buttons" onclick="location.href='/main/sportsfacility'">Другие объекты</a>
  <a class="buttons" onclick="location.href='/main/sportsfacility/gym'">Cброс</a>
  <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/sportsfacility/delete/delete_gym'">Удалить</a>
  <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/sportsfacility/update/update_gym'">Изменить</a>
  <form class="grades-form">
    <th><b>Получить зал по площади: </b></th>
    <th>Выберите площадь: </th>
    <label for="floor"></label><select class="selathlete" id="floor">
    <option th:each="allgym: ${allgyms}"
            th:text="${allgym.floorArea}">
    </option>
  </select>
    <button type="button" onclick="showByFloor()">Применить</button>
  </form><br>

  <table border="1" width="600">
    <tr>
      <th><p>№</p></th>
      <th><p>Общая площадь</p></th>
      <th><p>Адрес</p></th>
      <th><p>Тип покрытия</p></th>
      <th><p>id</p></th>
    </tr>
    <tr th:each="gym, iter : ${gyms}">
      <td th:text="${iter.index} + 1"></td>
      <td th:text="${gym.floorArea}"></td>
      <td th:text="${gym.sportsFacility.address}"></td>
      <td th:text="${gym.sportsFacility.type.value}"></td>
      <td th:text="${gym.id}"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
