<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>sportsfacility</title>
  <link rel='stylesheet' href='/css/background.css'>
</head>

<body>
<main id="main-holder">
  <link rel="stylesheet" href=/css/menu_buttons.css>
  <link rel="stylesheet" href=/css/table.css>
  <script type="text/javascript" src="/js/src/sportsfacility.js"></script>
  <a class="buttons" onclick="location.href='/main'">Главное меню</a>
  <a class="buttons" onclick="location.href='/main/sportsfacility'">Cброс</a>
  <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/sportsfacility/add'">Добавить</a>
  <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/sportsfacility/delete'">Удалить</a>
  <a class="buttons" sec:authorize="hasAuthority('ROLE_ADMIN')" onclick="location.href='/main/sportsfacility/update'">Изменить</a>

  <form class="grades-form">
    <th><b>Выберите любую спортивную площадку: </b></th>
    <button type="button" onclick="location.href='/main/sportsfacility/court';">Корд</button>
    <button type="button" onclick="location.href='/main/sportsfacility/gym';">Тренажерный зал</button>
    <button type="button" onclick="location.href='/main/sportsfacility/stadium';">Стадион</button>
    <button type="button" onclick="location.href='/main/sportsfacility/arena';">Манеж</button>
  </form><br>

  <form class="grades-form">
    <th><b>Получить сооружения за период: </b></th>
    <th>Введите дату начала: </th>
    <label for="start_date"></label><input type="date" name="day"
                                           id="start_date" size="60"
                                           class="login-form-field"
                                           placeholder="day of week">
    <th>Введите дату конца: </th>
    <label for="end_date"></label><input type="date" name="day"
                                         id="end_date" size="60"
                                         class="login-form-field"
                                         placeholder="day of week">
    <button type="button" onclick="showByPeriod()">Применить</button>
  </form><br>

  <table border="1" width="800">
    <tr>
      <th><p>№</p></th>
      <th><p>Адрес</p></th>
      <th><p>Спортивное сооружение</p></th>
      <th><p>id</p></th>
    </tr>
    <tr th:each="sportsfacility, iter : ${sportsfacilitys}">
      <td th:text="${iter.index} + 1"></td>
      <td th:text="${sportsfacility.address}"></td>
      <td th:text="${sportsfacility.type.value}"></td>
      <td th:text="${sportsfacility.id}"></td>
    </tr>
  </table> <br/>
</main>
</body>
</html>
