<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update_trainer</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/trainer.js"></script>
  <div style="height: 560px" class="form">
    <div class="title">Изменить тренера</div>
    <div class="subtitle">Ввыберите id тренера</div>

    <div class="input-container ic2">
      <label for="id" class="placeholder"></label><select class="input" id="id">
      <option th:each="trainer: ${trainers}"
              th:text="${trainer.id}">
      </option>
    </select><br/><br/>
    </div>

    <div class="input-container ic1">
      <input id="first_name" class="input" type="text" placeholder=" " />
      <label for="first_name" class="placeholder">Ввведите имя</label>
    </div>
    <div class="input-container ic2">
      <input id="last_name" class="input" type="text" placeholder=" " />
      <label for="last_name" class="placeholder">Введите фамилию</label>
    </div>
    <div class="input-container ic2">
      <input id="patronymic" class="input" type="text" placeholder=" " />
      <label for="patronymic" class="placeholder">Введите отчество</label>
    </div>
    <button type="button" class="submit" onclick="updateTrainer()">Изменить</button>
    <button type="button" class="submit" onclick="location.href='/main/trainer'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
