<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update_sport_club</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body style="overflow: hidden;">
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sportclub.js"></script>
  <div style="height: 410px" class="form">
    <div class="title">Изменить cпортивный клуб</div>
    <div class="subtitle">Введите id и название спортивного клуба</div>

    <div class="input-container ic2">
      <label for="id" class="placeholder"></label><select class="input" id="id">
      <option th:each="sportclub: ${sportclubs}"
              th:text="${sportclub.id}">
      </option>
    </select><br/><br/>
    </div>

    <div class="input-container ic1">
      <input id="sport" class="input" type="text" placeholder=" " />
      <label for="sport" class="placeholder">Ввведите название</label>
    </div>
    <button type="button" class="submit" onclick="updateSportClub()">Изменить</button>
    <button type="button" class="submit" onclick="location.href='/main/sportclub'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
