<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update_competition_player</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/competition.js"></script>
  <div style="height: 550px" class="form">
    <div class="title">Изменить участника</div>
    <div class="subtitle">Выберите атлета и соревнования из списка</div>
    <div class="input-container ic2">
      <label for="athlete" class="placeholder"></label><select class="input" id="athlete">
      <option th:each="athlete: ${athletes}"
              th:text="${athlete.id}">
      </option>
    </select><br/><br/>
    </div>
    <div class="input-container ic2">
      <label for="competition" class="placeholder"></label><select class="input" id="competition">
      <option th:each="competition: ${competitions}"
              th:text="${competition.id}">
      </option>
    </select><br/><br/>
    </div>
    <div class="input-container ic2">
      <input id="wasawarding" class="input" type="text" placeholder=" " />
      <label for="wasawarding" class="placeholder">Был награжден?(true, false)</label>
    </div>
    <div class="input-container ic2">
      <input id="result" class="input" type="text" placeholder=" " />
      <label for="result" class="placeholder">Результат</label>
    </div>
    <button type="button" class="submit" onclick="updateCompetitionPlayer()">Изменить</button>
    <button type="button" class="submit" onclick="location.href='/main/competitionplayer'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
