<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update_competition</title>
  <link rel='stylesheet' href='/css/form.css'>
</head>

<body style="overflow: hidden;">
<main class="main-holder">
  <script type="text/javascript" src="/js/src/competition.js"></script>
  <div style="height: 680px" class="form">
    <div class="title">Изменить соревнования</div>
    <div class="subtitle">Выберите id соревнований, дату, id спонсора, спорта и площадки</div>
    <div class="input-container ic2">
      <label for="id" class="placeholder"></label><select class="input" id="id">
      <option th:each="allcompetition: ${allcompetitions}"
              th:text="${allcompetition.id}">
      </option>
    </select><br/><br/>
    </div>
    <div class="input-container ic1">
      <input id="title" class="input" type="text" placeholder=" " />
      <label for="title" class="placeholder">Ввведите название</label>
    </div>

    <div class="input-container ic2">
      <label for="period" class="placeholder"></label>
      <input type="date" name="day" id="period" class="input" placeholder="day of week"></div>

    <div class="input-container ic2">
      <label for="sponsor" class="placeholder"></label><select class="input" id="sponsor">
      <option th:each="sponsor: ${sponsors}"
              th:text="${sponsor.id}">
      </option>
    </select><br/><br/>
    </div>

    <div class="input-container ic2">
      <label for="sport" class="placeholder"></label><select class="input" id="sport">
      <option th:each="sport: ${sports}"
              th:text="${sport.id}">
      </option>
    </select><br/><br/>
    </div>

    <div class="input-container ic2">
      <label for="sportsfacility" class="placeholder"></label><select class="input" id="sportsfacility">
      <option th:each="sportsfacility: ${sports_facilitys}"
              th:text="${sportsfacility.id}">
      </option>
    </select><br/><br/>
    </div>
    <button type="button" class="submit" onclick="updateCompetition()">Изменить</button>
    <button type="button" class="submit" onclick="location.href='/main/competition'">Отменить</button>
  </div>
  </form>
</main>
</body>
</html>
