<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update_sponsor</title>
    <link rel='stylesheet' href='/css/form.css'>
</head>

<body style="overflow: hidden;">
<main class="main-holder">
    <script type="text/javascript" src="/js/src/sponsor.js"></script>
    <div style="height: 470px" class="form">
        <div class="title">Изменить спонсора</div>
        <div class="subtitle">Выберите клуб из списка</div>

        <div class="input-container ic2">
            <label for="id" class="placeholder"></label><select class="input" id="id">
            <option th:each="sponsor: ${sponsors}"
                    th:text="${sponsor.id}">
            </option>
        </select><br/><br/>
        </div>

        <div class="input-container ic1">
            <input id="name" class="input" type="text" placeholder=" " />
            <label for="name" class="placeholder">Ввведите спонсора</label>
        </div>
        <div class="input-container ic2">
            <input id="company" class="input" type="text" placeholder=" " />
            <label for="company" class="placeholder">Введите название компании</label>
        </div>
        <button type="button" class="submit" onclick="updateCompany()">Изменить</button>
        <button type="button" class="submit" onclick="location.href='/main/sponsor'">Отменить</button>
    </div>
    </form>
</main>
</body>
</html>
