<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>delete_sport</title>
</head>

<body>
<main class="main-holder">
  <script type="text/javascript" src="/js/src/sport.js"></script>
  <h1 class="grades-header" align="center">Удалить вид спорта</h1>
  <h1 th:text="${name}" id="auth-name"></h1>
  <form class="grades-form" align="center">
    <th>Выберите спорт: </th>
    <label for="sport"></label><select class="selathlete" id="sport">
    <option th:each="sport: ${sports}"
            th:text="${sport.id}">
    </option>
  </select><br/><br/>

    <button type="button" onclick="deleteSport()">Удалить</button>
    <button type="button" onclick="location.href='/main/sport'">Отменить</button>
  </form>
</main>
</body>
</html>
